- if presenter.credit_card.errors.any?
  - errors = presenter.credit_card.errors
  #error_explanation
    %h2= "#{pluralize(errors.count, "error")} prohibited this credit_card from being saved:"
    %ul
      - errors.full_messages.each do |msg|
        %li= msg
= fields_for presenter.credit_card do |f|
  %table
    %tr
      %td.left
        = f.label t('shopping_cart.card_number')
      %td
        = f.text_field :number, value: presenter.credit_card.number
    %tr
      %td.left
        = f.label "#{t('shopping_cart.expiration_date')}:"
    %tr
      %td.right
        = f.select :expiration_month, months, { prompt: t('shopping_cart.please_select_month')}, { class: 'middle' }
      %td.left
        = f.select :expiration_year, (2017..2030).to_a, { prompt: t('shopping_cart.please_select_year')}, { class: 'middle' }
    %tr
      %td.right
        = f.label :cvv, t('cvv')
      %td.left
        = f.password_field :cvv
