<% if presenter.orders.public_send(method).try(:any?) %>
  <h2 class="page-header">
    <%= t(method) %>
  </h2>
  <table class="throughout">
    <tr>
      <th>
        <%= t(:number) %>
      </th>
      <th>
        <%= t(:completed_at) %>
      </th>
      <th>
        <%= t(:total) %>
      </th>
    </tr>
    <%= render partial: 'order_info', collection: presenter.orders.public_send(method), as: :order %>
  </table>
<% end %>
