%h1.page-header
  = t('shopping_cart.order')
  %small= presenter.order.id
%table.throughout
  %tr.left
    %td
      %h3= t('shopping_cart.shipping_address')
    %td
      %h3= t('shopping_cart.billing_address')
    %td
      %h3= t('shopping_cart.shipments')
    %td
      %h3= t('shopping_cart.payment_information')
  %tr
    %td.top
      = render 'address_info', object: presenter.order.billing_address.decorate
    %td.top
      = render 'address_info', object: presenter.order.shipping_address.decorate
    %td.top
      = render 'delivery_info', object: presenter.delivery
    %td.top
      = render 'credit_card_info', object: presenter.order.credit_card
%table.underline.center
  %tr
    %th
    %th= t('shopping_cart.item')
    %th= t('shopping_cart.price')
    %th= t('shopping_cart.qty')
    %th= t('shopping_cart.total')
  - presenter.order_items.each do |order_item|
    %tr
      %td
        = render 'item_info', item: order_item.item
      %td
        = price(order_item.price)
      %td
        = order_item.quantity
      %td
        = price(order_item.total)
%table.throughout.right.page-header
  %tr
    %td
      = "#{t('shopping_cart.subtotal')}: #{price(presenter.order.subtotal)}"
  %tr
    %td
      = "#{t('shopping_cart.shipping')}: #{price(presenter.order.delivery.price)}"
%table.throughout.right
  %tr
    %td
      = "#{t('shopping_cart.order_total')}: #{price(presenter.order.total)}"
%table.center
  %tr
    %td.left
      = button_to t('shopping_cart.go_back_to_store'), root_path, method: :get
