- if presenter.order.empty?
  %h2= t('shopping_cart.you_have_an_empty_cart')
- else
  = form_for presenter.order, method: :put do |f|
    - if errors = @form.try(:errors)
      #error_explanation.center
        %h2= "#{pluralize(errors.count, "error")} prohibited this coupon from being saved:"
        %ul.left
          - errors.full_messages.each do |msg|
            %li= msg
    %table
      %tr
        %th
        %th= t('shopping_cart.item')
        %th= t('shopping_cart.price')
        %th= t('shopping_cart.qty')
        %th= t('shopping_cart.total')
      - presenter.order.order_items.each do |order_item|
        %tr
          = f.fields_for 'order_items[]', order_item do |ff|
            %td
              = image_tag order_item.item.image, class: 'small'
            %td
              %table.left
                %tr
                  %td
                    %h2= order_item.item.title
                %tr
                  %td
                    = order_item.item.short_description
            %td
              = price(order_item.price)
            %td
              = ff.number_field :quantity, value: order_item.quantity, in: 1..order_item.item.instock, class: 'hundred'
            %td
              = price(order_item.total)
            %td
              = link_to 'x', order_item, method: :delete, id: order_item.id
    %table.right.throughout
      - if presenter.order.coupon
        %tr
          %td
            = "#{t('shopping_cart.sale')}: #{price(presenter.order.sale)}"
      %tr
        %td
          = "#{t('shopping_cart.subtotal')}: #{price(presenter.order.subtotal)}"
    %table
      %tr
        %td
          = link_to t('shopping_cart.empty_cart'), order_path(current_order.id), method: :delete, class: 'middle-btn red'
        %td
          = link_to t('shopping_cart.continue_shopping'), root_path, class: 'middle-btn'
        %td
          = f.text_field :coupon, value: '', placeholder: t('shopping_cart.coupon_code'), class: 'middle'
        %td
          = f.submit t('shopping_cart.update'), class: 'middle'
        %td
          = link_to t('shopping_cart.checkout'), edit_address_order_path, class: 'middle-btn'
