.page-header.h3.center
  = t('shopping_cart.address')
  %small
    = presenter.header_after :address
%h1.page-header= t('shopping_cart.address')
= form_for presenter.order, url: address_order_path, method: :put do |f|
  %table.throughout
    %tr
      %th
        = t('shopping_cart.billing_address')
      %th
        = t('shopping_cart.shipping_address')
      %th
        = t('shopping_cart.order_summary')
    %tr
      %td.bottom
        = fields_for :billing_address, presenter.billing_address do |billing_address_f|
          = render partial: 'address_form', locals: { f: billing_address_f, type: :billing_address }
      %td.bottom
        .shipping_address
          = fields_for :shipping_address, presenter.shipping_address do |shipping_address_f|
            = render partial: 'address_form', locals: { f: shipping_address_f, type: :shipping_address }
        = fields_for :use_billing_address do |use_f|
          .item
            = use_f.check_box :check, checked: presenter.same_address
            = use_f.label t('shopping_cart.use_billing_address')
      %td.top
        = render partial: 'order_form', locals: { order: current_order }
    %tr
      %td
        = f.submit t('shopping_cart.save_and_continue')
