<h1 class="page-header">
  <%= t(:orders) %>
</h1>
<% if presenter.orders.in_progress.first.try(:order_items).try(:any?) %>
  <h2 class="page-header">
    <%= t(:in_progress) %>
  </h2>
  <table class="throughout">
    <tr>
      <th></th>
      <th>
        <%= t(:book) %>
      </th>
      <th>
        <%= t(:price) %>
      </th>
      <th>
        <%= t(:qty) %>
      </th>
      <th>
        <%= t(:total) %>
      </th>
    </tr>
    <% presenter.orders.in_progress.first.order_items.each do |order_item| %>
      <tr>
        <td>
          <%= image_tag order_item.book.image, class: 'small' %>
        </td>
        <td>
          <table class="left">
            <tr>
              <td>
                <h2>
                  <%= order_item.book.title %>
                </h2>
              </td>
            </tr>
            <tr>
              <td>
                <%= order_item.book.short_description %>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <%= price(order_item.price) %>
        </td>
        <td>
          <%= order_item.quantity %>
        </td>
        <td>
          <%= price(order_item.total) %>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="page-header throughout right">
    <tr>
      <td>
        <%= "#{t(:subtotal)}: #{price(presenter.orders.in_progress.first.try(:subtotal))}" %>
      </td>
    </tr>
  </table>
  <table class="center">
    <tr>
      <td class="left">
        <%= button_to t(:go_to_cart), edit_order_path(presenter.orders.in_progress.first.try(:id)), method: :get %>
      </td>
    </tr>
  </table>
<% end %>
<%= render partial: 'orders', collection: [:in_queue, :in_delivery, :delivered], as: :method %>
