= link_to "<< #{t(:back_to_orders)}", orders_path
%h1.page-header
  = t(:order)
  %small
    = presenter.order.id
    = presenter.order.state
%table.underline.center
  %tr
    %th
    %th= t(:book)
    %th= t(:price)
    %th= t(:qty)
    %th= t(:total)
  - presenter.order.order_items.decorate.each do |order_item|
    %tr
      %td
        = image_tag order_item.book.image, class: 'small'
      %td
        %table.left
          %tr
            %td
              %h2= order_item.book.title
          %tr
            %td
              = order_item.book.short_description
      %td
        = price(order_item.price)
      %td
        = order_item.quantity
      %td
        = price(order_item.total)
%table.page-header.throughout.right
  %tr
    %td
      = "#{t(:subtotal)}: #{price(presenter.order.subtotal)}"
  %tr
    %td
      = "#{t(:shipping)}: #{price(presenter.order.delivery.price)}"
%table.throughout.right
  %tr
    %td
      = "#{t(:order_total)}: #{price(presenter.order.total)}"
