= link_to "<< #{t('shopping_cart.back_to_orders')}", orders_path
%h1.page-header
  = t('shopping_cart.order')
  %small
    = presenter.order.id
    = presenter.order.state
%table.underline.center
  %tr
    %th
    %th= t('shopping_cart.item')
    %th= t('shopping_cart.price')
    %th= t('shopping_cart.qty')
    %th= t('shopping_cart.total')
  - presenter.order.order_items.decorate.each do |order_item|
    %tr
      %td
        = render 'item_info', item: order_item.item
      %td
        = price(order_item.price)
      %td
        = order_item.quantity
      %td
        = price(order_item.total)
%table.page-header.throughout.right
  %tr
    %td
      = "#{t('shopping_cart.subtotal')}: #{price(presenter.order.subtotal)}"
  %tr
    %td
      = "#{t('shopping_cart.shipping')}: #{price(presenter.order.delivery.price)}"
%table.throughout.right
  %tr
    %td
      = "#{t('shopping_cart.order_total')}: #{price(presenter.order.total)}"
